<!DOCTYPE html>
<html>
    <head>
{% block title %}Pokemon{% endblock %}
    </head>
    {% block body %}
    <br>
            {% for monster in pokemon %}
        <li><strong>{{ monster.name }}</strong></li>
        <li>{{ monster.description }}</li>
        <br>
            {% endfor %}
{% endblock %}
